// VARIABLES
$vintedColor: #0cb0ba;

// IMPORT
@import "scss/header.scss";
@import "scss/home.scss";
@import "scss/product.scss";
@import "scss/offer.scss";
@import "scss/signup.scss";

// GLOBAL RULES

.App {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.container {
  width: 1240px;
  margin: 0 auto;
}