.header {
  padding: 10px 0 5px 0;
  border-bottom: 1px solid rgb(235, 230, 230);
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 100px;
    }
    .button {
      height: 30px;
      width: 130px;
      border-radius: 5px;
      outline: none;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      box-sizing: border-box;
      border: 1px solid $vintedColor;
    }
    .buttons {
      button {
        color: $vintedColor;
        background-color: #fff;
        margin-right: 10px;
        &:hover {
          cursor: pointer;
          background-color: $vintedColor;
          color: #fff;
        }
      }
    }
    .logoff {
      background-color: #c2175b;
      border: 1px solid #c2175b;
      color: #fff;
      font-family: inherit;
      font-size: 12px;
      cursor: pointer;
      &:hover {
        background-color: #aa1350;
      }
    }
    a[name="selling"] {
      background-color: $vintedColor;
      color: #fff;
      &:hover {
        background-color: $vintedColorHovered;
        border: 1px solid $vintedColorHovered;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

.filters {
  display: flex;
  flex-direction: column;
  input {
    height: 35px;
    width: 600px;
    border: none;
    outline: none;
    background-color: #f5f6f7;
    border-radius: 5px;
    padding-left: 20px;
    &::placeholder {
      font-size: 16px;
      color: rgb(209, 204, 204);
    }
  }
  div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .switch {
    width: 150px;
  }
  .range {
    display: flex;
    justify-content: space-around;
    width: 390px;
  }
}
