.home {
  .hero {
    display: flex;
    img {
      width: 100vw;
      height: 515px;
      object-fit: cover;
      object-position: center;
    }
    .overlay {
      width: 50%;
      height: 50px;
      position: absolute;
      z-index: 99;
      top: 567px;
      right: 0;
    }
  }
}

.hero-box {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  background-color: #fff;
  top: 220px;
  left: 100px;
  width: 400px;
  height: 260px;
  border-radius: 5px;
  padding: 50px 30px;
  h3 {
    font-size: 34px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 50px;
  }
  a {
    text-decoration: none;
    background-color: $vintedColor;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    &:hover {
      background-color: $vintedColorHovered;
    }
  }
}

.select {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  span {
    font-size: 12px;
    color: grey;
    margin-right: 10px;
  }
  select {
    padding: 3px;
    font-size: 12px;
    color: grey;
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
  }
}

.pages {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  button {
    box-sizing: border-box;
    background-color: #fff;
    border: none;
    font-size: 14px;
    color: $vintedColor;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    &:nth-child(1) {
      margin-right: 50px;
    }
    &:hover {
      color: $vintedColorHovered;
    }
  }
  .first-hidden {
    width: 158.33px;
  }
  .second-hidden {
    width: 91.2px;
  }
}
